In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [11]:
engine = create_engine("sqlite:///../Data Analytics Week 10/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [13]:
Base.classes.keys()

[]

In [15]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

AttributeError: measurement

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [9]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_june = []
#start = dt.date(2017, 6, 1)
#end = dt.date(2017, 6, 30)
results_june = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

NameError: name 'Measurement' is not defined

In [35]:
#  3. Convert the June temperatures to a list.
temps_june = list(np.ravel(results_june))

In [36]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results_june, columns = ['date', 'tobs'])
df_june.set_index(df_june['date'], inplace=True)

In [37]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

       date tobs
count     0    0
unique    0    0
top     NaN  NaN
freq    NaN  NaN

## D2: Determine the Summary Statistics for December

In [38]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = []
#start = dt.date(2016, 12, 1)
#end = dt.date(2016, 12, 31)
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

AttributeError: date

In [39]:
# 7. Convert the December temperatures to a list.
temps_dec = list(np.ravel(results_dec))

In [40]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(results_dec, columns = ['date', 'tobs'])
df_dec.set_index(df_dec['date'], inplace=True)

In [41]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

       date tobs
count     0    0
unique    0    0
top     NaN  NaN
freq    NaN  NaN

In [ ]:
# Additional query: Precipitation
results_prcp_june =[]
results_prcp_june = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

df_june_prcp = pd.DataFrame(results_prcp_june, columns = ['date', 'prcp'])
df_june_prcp.set_index(df_june_prcp['date'], inplace=True)

In [ ]:
df_june_prcp.describe()

In [ ]:
results_prcp_dec =[]
results_prcp_dec = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

df_dec_prcp = pd.DataFrame(results_prcp_dec, columns = ['date', 'prcp'])
df_dec_prcp.set_index(df_dec_prcp['date'], inplace=True)

In [ ]:
df_dec_prcp.describe()